@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --tlo-kolor: hsl(0, 0%, 36%);
  --glowny-kolor: hsl(0, 100%, 62%);
  --napis-kolor: hsl(0, 0%, 18%);
  --napis2-kolor: hsla(0, 0%, 72%, 0.917);
  --bialy-kolor: rgb(255, 255, 255);
  --strona-kolor: linear-gradient(45deg, #ff3d3d, #ff5c5c);
  --kartki-kolor: linear-gradient(90deg, #e9e9e9, #d1d1d1);
  --cien-kolor: hsla(0, 100%, 67%, 0.467);
  --formularz-kolor: #d1d1d1;
  --border: 0.125rem solid #ff3d3d;
  --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--tlo-kolor);
  color: var(--napis-kolor);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.blok {
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: 2rem;
  animation: pokaz 2s forwards;
  perspective: 250rem;
}

@keyframes pokaz {
  0%, 30% {
    transform: rotate(-10deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.strona {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--strona-kolor);
  box-shadow: var(--box-shadow);
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  transform-origin: right;
}

.strona.strona-lewa {
  z-index: -1;
}

.strona.strona-prawa {
  z-index: 100;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.strona.strona-prawa.przerzuc {
  transform: rotateY(180deg);
}

.ksiazka {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.ksiazka .ksiazka-kartka {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 2rem;
  display: flex;
  background: var(--kartki-kolor);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
}

.ksiazka-kartka.kartka-lewa {
  box-shadow: var(--box-shadow);
}

.strona-profilowa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strona-profilowa img {
  max-width: 180px;
  margin-bottom: 0.8rem;
  border: 0.25rem solid var(--glowny-kolor);
  border-radius: 50%;
}

.strona-profilowa h1 {
  font-size: 2.6rem;
  line-height: 1;
  text-shadow: 1px 5px 10px var(--cien-kolor);
}

.strona-profilowa h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--glowny-kolor);
}

.strona-profilowa .socialki {
  margin: 0.6rem 0 0.8rem;
}

.strona-profilowa .socialki a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
  border: var(--border);
  border-radius: 50%;
  color: var(--glowny-kolor);
  font-size: 1.3rem;
  transition: 0.2s;
}

.strona-profilowa .socialki a:hover {
  color: var(--bialy-kolor);
  background: var(--glowny-kolor);
}

.strona-profilowa p {
  width: 100%;
  line-height: 1.2;
  gap: 1px;
  text-align: center;
  margin-left: 20%;
}

.strona-profilowa p span.czcionka {
  color: var(--glowny-kolor);
}

.strona-profilowa p span.znaczek {
  color: var(--napis-kolor);
}

.strona-profilowa .przycisk-box {
  margin-top: 1.2rem;
  margin-left: 20%;
  width: 100%;
}

.przycisk {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 9.5rem;
  height: 3rem;
  background: var(--glowny-kolor);
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--bialy-kolor);
  transition: 0.6s;
}

.przycisk:hover {
  color: var(--glowny-kolor);
  background: transparent;
}

.przycisk-box .przycisk:nth-child(2) {
  color: var(--glowny-kolor);
  background: transparent;
}

.przycisk-box .przycisk:nth-child(2):hover {
  color: var(--bialy-kolor);
  background: var(--glowny-kolor);
}

.ksiazka-kartka.kartka-prawa {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.ksiazka-kartka.kartka-prawa.przerzuc {
  transform: rotateY(-180deg);
}

.ksiazka-kartka .kartka-przod,
.ksiazka-kartka .kartka-tyl {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  background: var(--kartki-kolor);
}

.ksiazka-kartka .kartka-przod {
  transform: rotateY(0deg) translateZ(1px);
}

.ksiazka-kartka .kartka-tyl {
  transform: rotateY(180deg) translateZ(1px);
}

.tytul {
  margin-bottom: 1rem;
  text-align: center;
}

.doszaw-box {
  margin-top: 10%;
  border-left: var(--border);
}

.doszaw-box .doszaw-opis {
  position: relative;
  padding-left: 1.6rem;
  margin-bottom: 1.2rem;
}

.doszaw-box .doszaw-opis::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.65rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: var(--glowny-kolor);
}

.doszaw-opis .rok {
  color: var(--glowny-kolor);
}

.doszaw-opis .rok i {
  margin-right: 0.4rem;
}

.numer-strony {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.nastepna-przycisk {
  position: absolute;
  bottom: 0.9rem;
  right: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: var(--napis2-kolor);
  transition: 0.5s;
  cursor: pointer;
}

.nastepna-przycisk:hover {
  color: var(--glowny-kolor);
}

.tyl {
  left: 1.5rem;
}

.edu-opis {
  margin-top: 10%;
}

/* USŁUGI */

.kartka-przod h1 {
  margin-top: -10px;
}

.uslugi-glowny {
  padding: 1% -1%;
}

.uslugi-box {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 11px;
}

.uslugi-opis {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 125px;
  padding: 1% 1%;
  background-color: var(--glowny-kolor);
  border: var(--border);
  border-radius: 18px;
  transition: 0.5s;
  overflow: hidden;
}

.uslugi-opis::after {
  content: "";
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  height: 18px;
  transform: rotate(50deg);
  background-color: var(--bialy-kolor);
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;
}

.uslugi-opis:hover {
  background-color: transparent;
  transform: translateY(-5px);
}

.uslugi-opis:hover::after {
  width: 225%;
  top: -100%;
}

.uslugi-opis i {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--bialy-kolor);
  font-size: 1.8rem;
}

.uslugi-opis:hover i {
  color: var(--glowny-kolor);
}

.uslugi-opis h3 {
  color: var(--bialy-kolor);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.uslugi-opis:hover h3 {
  color: var(--glowny-kolor);
}

.uslugi-opis p {
  width: 100%;
  margin: 3px 0;
  margin-top: 1px;
  text-align: center;
  color: var(--napis1-kolor);
  font-size: 0.9rem;
}

/* UMIEJĘTNOŚCI */

.umiejetnosci-box {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.umiejetnosci-nazwa {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--glowny-kolor);
  text-transform: uppercase;
}

.umiejtnosci-pasek {
  height: 14px;
  background: var(--bialy-kolor);
  border-radius: 8px;
}

.umiejetnosci-procenty {
  position: relative;
  height: 14px;
  background-color: var(--glowny-kolor);
  border-radius: 8px;
  animation: ladowanie 2.5s 1;
}

.umiejetnosci-procenty::before {
  content: attr(per);
  position: absolute;
  top: -35px;
  right: 0;
  padding: 4px 6px;
  background-color: var(--bialy-kolor);
  border-radius: 5px;
  font-size: 11px;
  transform: translateX(50%);
  box-shadow: var(--box-shadow);
}

.umiejetnosci-procenty::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: var(--bialy-kolor);
  border-radius: 2px;
  transform: translateX(50%) rotate(45deg);
}

@keyframes ladowanie {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* MOJE PROJEKTY */

.projekty-box .projekt-gif {
  display: flex;
  width: 100%;
  height: 12rem;
  border: var(--border);
  border-radius: .5rem;
  overflow: hidden;
}

.projekty-box .projekt-gif img {
  width: 100%;
  object-fit: cover;
}

.projekty-box .projekt-gif:hover img {
  transform: scale(1.3);
}

.projekty-box .projekt-opcje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0 .5rem;
  width: 100%;
  border-radius: 8px;
  text-align: left;
}

.projekty-box .projekt-opcje .projekt-tytul {
  margin-top: 2px;
  font-size: 1.35rem;
}

.projekty-box .projekt-opcje a {
  display: flex;
  align-items: center;
  color: var(--glowny-kolor);
}

.projekty-box .projekt-opcje a:hover {
  transform: scale(1.05);
  transition: .5s;
}

.projekty-box .projekt-opcje a i {
  margin-left: .4rem;
}

.projekty-box .przycisk-box {
  display: flex;
  justify-content: center;
}

.projekty-box .przycisk-box .przycisk {
  margin: 0 1rem;
  margin-bottom: 10px;
  height: 30px;
}

/* KONTAKT */

.kontakt-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.kontakt {
  padding: 35px;
  background: var(--glowny-kolor);
  box-shadow: var(--box-shadow);
}

/* Formularz */
.formularz-box {
  position: relative;
  width: 100%;
}

.formularz-box .formularz-wiersz {
  display: flex;
  gap: 10px;
}

.formularz-box .formularz-wiersz2 .formularz-input {
  width: 100%;
}

.kontakt-box h3 {
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.formularz-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 50%;
}

.formularz-input span {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--formularz-kolor);
}

.formularz-input input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--formularz-kolor);
  outline: none;
}

.formularz-input textarea {
  min-height: 100px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--formularz-kolor);
  resize: none;
}

.formularz-input input[type="submit"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 20rem;
  height: 3rem;
  background: var(--glowny-kolor);
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--bialy-kolor);
  transition: 0.6s;
}

.formularz-input input:hover[type="submit"] {
  color: var(--glowny-kolor);
  background: var(--bialy-kolor)
}

.formularz-input ::placeholder {
  color: var(--napis2-kolor);
}

.powrot-profilowa {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  right: 2.5rem;
  bottom: 1.5rem;
  background: transparent;
  border: 1px solid var(--glowny-kolor);
  border-radius: .5rem;
  color: var(--glowny-kolor);
}

.powrot-profilowa:hover {
  background: var(--glowny-kolor);
  color: var(--bialy-kolor);
}

.powrot-profilowa p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(.5);
  font-size: 1rem;
  opacity: 0;
  transition: .5s;
}

.powrot-profilowa:hover p {
  top: -1.3rem;
  transform: translateX(-50%) scale(1);
  opacity: 1;
  color: var(--glowny-kolor);
}


/* KONTAKT2 */

.kontakt2-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kontakt2 {
  padding: 50px;
  background-color: var(--glowny-kolor);
  box-shadow: var(--box-shadow);
}

.kontakt2-box h3 {
  margin-top: -5%;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--formularz-kolor);
}

.kontakt2-box .info-box div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.kontakt2-box .info-box div span {
  min-width: 40px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  color: var(--bialy-kolor);
  background: var(--strona-kolor);
  font-size: 1.3rem;
  border-radius: 50%;
}

.kontakt2-box .info-box div p {
  color: var(--bialy-kolor);
  font-size: 1.3rem;
}

.kontakt2-box .info-box div a {
  text-decoration: none;
  color: var(--bialy-kolor);
  font-size: 1.05rem;
}

.kontakt-social {
  display: flex;
  margin-top: 50px;
}

.kontakt-social li {
  margin-right: 20px;
  list-style: none;
}

.kontakt-social li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 2rem;
  height: 2rem;
  border: var(--border);
  border-radius: 50%;
  background: var(--bialy-kolor);
  color: var(--glowny-kolor);
  font-size: 1.5rem;
  transition: 0.2s;
}

.kontakt-social li a:hover {
  color: var(--bialy-kolor);
  background: var(--glowny-kolor);
}

.mapa {
  padding: 0;
  height: 180px;
}

.mapa iframe {
  width: 100%;
  height: 230px;
}

@media (max-width: 991px) {
  .kontakt2 {
    padding: 40px;
  }

  .kontakt2-box h3 {
    margin-top: 5px;
  }

  .kontakt2-box .info-box div p {
    margin-top: 10px;
    font-size: 1rem;
  }

  .mapa {
    padding: 0;
    height: 100%;
  }

  .mapa iframe {
    width: 100%;
    height: 230px;
  }
}